Here is the index page 

<% @posts.each do |post|%>
<ul>
    <li>
        <%=post.title%>
    </li>
    <li>
        <%=post.body%>
    </li>
    <%end%>
</ul>
<%= link_to "New Post", new_post_path%>
