Here is the index page 

<% @posts.each do |post|%>

<ul>
    <li>
        <%=post.title%>
    </li>
    <li>
        <%=post.body%>
    </li>
<%= link_to "Delete", post_path(post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    <%end%>
</ul>
<%= link_to "New Post", new_post_path%>

