.header.container {
    /* background-color: #2CCED2; */
    background-image: linear-gradient(to right, #76CDCD,#2CCED2 );
    font-family: sans-serif, Arial, Helvetica, Verdana;
    color:white;
    font-size:30px;
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 8fr;
    gap:30px;    

}
 
.header.links{
    display:flex;
    justify-content:space-evenly ;
    gap:150px;


}

.header.links > a:visited{
    color:white;
}

.header.links > a:link{
    color:white;
    text-decoration: none;
    font-size:30px;


}
