.index.container {
    font-size:1.8em;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to bottom, #76CDCD,#F9968B 30% ); */
    background-color: #F8EEE7;


}

.index.container > ul, .index.container > li {

    list-style: none;
    color:white;
}

.delete_link {
    margin-top:10px;
}

.delete_link > li > a:visited{
    color:white;
}

.delete_link > li > a:link{
    color:white;
    text-decoration: none;
    font-size:30px;
    background-color: #cd3636;
    opacity:0.6;
    border-radius: 15%;
    margin-top:10px;
    padding:4px;

}

.post_container {
    background-color: #f4decb;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 6%;
    width: 500px;
    height: 250px;

}

.post_container > ul {   
    list-style: none;
}