label, .edit_title {
    font-family: sans-serif, Arial, Helvetica, Verdana;
    font-size:1.8rem;
}

.new_form_item > input {
    border-radius:7px;
    border-width: 0;
    width:25rem;
    height:10rem;


}

.new_form_item > #post_title {
    height:2rem;
    margin-top:10px;

}

.new_form_item >  #post_body {
    margin-top:10px;
}

.new_form_item > input[type="submit"] {
    height:30px;
    background-color: #f4decb;
    border: 1px solid #e7b385 ;
}

.new_form > form {
    margin-top:50px;
    /* height:200px;
    width:300px; */

}

.new_form_container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;

}



.new_form_item {
    margin-top:20px;
    align-self: flex-start;

}